<div id="slides">
  <img src="{{ '/assets/img/carousel-item-1.jpg' | relative_url }}" alt="" />
  <img src="{{ '/assets/img/carousel-item-2.jpg' | relative_url }}" alt="" />
  <img src="{{ '/assets/img/carousel-item-3.jpg' | relative_url }}" alt="" />
  <img src="{{ '/assets/img/carousel-item-4.jpg' | relative_url }}" alt="" />
  <img src="{{ '/assets/img/carousel-item-5.jpg' | relative_url }}" alt="" />
  <img src="{{ '/assets/img/carousel-item-6.jpg' | relative_url }}" alt="" />
  <!-- {% if settings.show_carousel %} -->

        <!-- {% if settings.show_carousel_item_1 %}

          {% if settings.carousel_item_1_link != empty %}
            {{ 'carousel-item-1.jpg' | asset_url | img_tag: settings.carousel_item_1_alt | link_to: settings.carousel_item_1_link }}
          {% else %}
            {{ 'carousel-item-1.jpg' | asset_url | img_tag: settings.carousel_item_1_alt }}
          {%endif%}

        {% endif %}

        {% if settings.show_carousel_item_2 %}

          {% if settings.carousel_item_2_link != empty %}
          {{ 'carousel-item-2.jpg' | asset_url | img_tag: settings.carousel_item_2_alt | link_to: settings.carousel_item_2_link }}
          {% else %}
            {{ 'carousel-item-2.jpg' | asset_url | img_tag: settings.carousel_item_2_alt }}
          {%endif%}

        {% endif %}

        {% if settings.show_carousel_item_3 %}

          {% if settings.carousel_item_3_link != empty %}
          {{ 'carousel-item-3.jpg' | asset_url | img_tag: settings.carousel_item_3_alt | link_to: settings.carousel_item_3_link }}
          {% else %}
            {{ 'carousel-item-3.jpg' | asset_url | img_tag: settings.carousel_item_3_alt }}
          {%endif%}

        {% endif %}

        {% if settings.show_carousel_item_4 %}

          {% if settings.carousel_item_4_link != empty %}
          {{ 'carousel-item-4.jpg' | asset_url | img_tag: settings.carousel_item_4_alt | link_to: settings.carousel_item_4_link }}
          {% else %}
            {{ 'carousel-item-4.jpg' | asset_url | img_tag: settings.carousel_item_4_alt }}
          {%endif%}

        {% endif %}

        {% if settings.show_carousel_item_5 %}

          {% if settings.carousel_item_5_link != empty %}
          {{ 'carousel-item-5.jpg' | asset_url | img_tag: settings.carousel_item_5_alt | link_to: settings.carousel_item_5_link }}
          {% else %}
            {{ 'carousel-item-5.jpg' | asset_url | img_tag: settings.carousel_item_5_alt }}
          {%endif%}

        {% endif %}

        {% if settings.show_carousel_item_6 %}

          {% if settings.carousel_item_6_link != empty %}
          {{ 'carousel-item-6.jpg' | asset_url | img_tag: settings.carousel_item_6_alt | link_to: settings.carousel_item_6_link }}
          {% else %}
            {{ 'carousel-item-6.jpg' | asset_url | img_tag: settings.carousel_item_6_alt }}
          {%endif%}

        {% endif %}

  			{% if settings.show_carousel_item_7 %}

          {% if settings.carousel_item_7_link != empty %}
          {{ 'carousel-item-7.jpg' | asset_url | img_tag: settings.carousel_item_7_alt | link_to: settings.carousel_item_7_link }}
          {% else %}
            {{ 'carousel-item-7.jpg' | asset_url | img_tag: settings.carousel_item_7_alt }}
          {%endif%}

        {% endif %}

  			{% if settings.show_carousel_item_8 %}

          {% if settings.carousel_item_8_link != empty %}
          {{ 'carousel-item-8.jpg' | asset_url | img_tag: settings.carousel_item_8_alt | link_to: settings.carousel_item_8_link }}
          {% else %}
            {{ 'carousel-item-8.jpg' | asset_url | img_tag: settings.carousel_item_8_alt }}
          {%endif%}

        {% endif %}

  			{% if settings.show_carousel_item_9 %}

          {% if settings.carousel_item_9_link != empty %}
          {{ 'carousel-item-9.jpg' | asset_url | img_tag: settings.carousel_item_9_alt | link_to: settings.carousel_item_9_link }}
          {% else %}
            {{ 'carousel-item-9.jpg' | asset_url | img_tag: settings.carousel_item_9_alt }}
          {%endif%}

        {% endif %}

  			{% if settings.show_carousel_item_10 %}

          {% if settings.carousel_item_10_link != empty %}
          {{ 'carousel-item-10.jpg' | asset_url | img_tag: settings.carousel_item_10_alt | link_to: settings.carousel_item_10_link }}
          {% else %}
            {{ 'carousel-item-10.jpg' | asset_url | img_tag: settings.carousel_item_10_alt }}
          {%endif%}

        {% endif %} -->
        <!-- {% endif %} -->

</div>
