<footer>
  <div id="footer">
    <div class="container">
              <div id="widgets" class="span1 pull-right">
                <!-- <div id="weather"></div> -->
                <div id="networks">
                  <a class="social-media-icon facebook" href="{{ site.social_facebook }}" target="_blank">Facebook</a>
                  <a class="social-media-icon instagram" href="{{ site.social_instagram }}" target="_blank">instagram</a>
                  <a class="social-media-icon pinterest" href="{{ site.social_pinterest }}" target="_blank">Pinterest</a>
                  <a class="social-media-icon mail" href="mailto:{{ site.email }}">Mail</a>
                </div>
              </div>
      <div class="row">
        <div id="copy" class="span2">
                      <SPAN style="letter-spacing:2px">
          &copy;{{ 'now' | date: "%Y" }} <b>FLORAFAUNA</b> <i> Brand Evolution</i> <SPAN>
        </div>
      </div>

    </div>
  </div>
</footer>
