<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

{% include head.html %}

<body>
  {% include header.html %}
  <section id="body" {% if page.url == '/' %}class="home"{% elsif page.layout == 'work-item' %}class="work"{% elsif page.layout == 'post' %}class="blog"{% else %}class="{{ page.url | replace '', '/' }}"{% endif %}>
    {{ content }}
  </section>
  {% include footer.html %}
  <script type="text/javascript" src="{{ "/assets/js/jquery.swapimage.js" | relative_url}}"></script>
</body>

</html>
